<div class="dashboard">
<div class="grid-container">
        <!--Header-->
        <header class="header">
            <div class="menu-icons" onclick="opensidebar()">
                <span class="material-symbols-outlined">
                    menu
                    </span>
            </div>
            <div class="header-left">
                <span class="material-symbols-outlined">
                    search
                    </span>
            </div>
            <div class="header-right">

                <span class="material-symbols-outlined">
                    notifications
                    </span>
                    <span class="material-symbols-outlined">
                        mail
                        </span>
                        <span class="material-symbols-outlined">
                            logout
                        </span>
            </div>
         </header>   
         <!--sider-->
        <aside id="sidebar">
            <div class="siderbar-title">
                <div class="sider-brand">
                  <a href="http://localhost:5500/profile.html" style="text-decoration: none; color: white;">
                    <span class="material-symbols-outlined">
                        storefront
                        </span>Store</a>
                </div>
            </div>
            <span class="material-symbols-outlined " id="closetab" onclick="closesidebar()">
                close
                </span>
            <ul class="sidebar-list">
                <li class="sidebar-list-item">
                    <span class="material-symbols-outlined">
                        dashboard
                        </span><span class="etxt"> Dashboard</span>
                       

                </li>
                <li class="sidebar-list-item">
                    <span class="material-symbols-outlined">
                        inventory_2
                        </span><span class="etxt">Holdings</span>

                </li>
                <li class="sidebar-list-item">
                    <span class="material-symbols-outlined">
                        category
                        </span><span class="etxt">Categories</span>

                </li>
                <li class="sidebar-list-item">
                    <span class="material-symbols-outlined">
                        groups
                        </span><span class="etxt">Companies</span>
                       

                </li>
                <li class="sidebar-list-item">
                  <a href="http://localhost:5500/LogisticsDeliveryIntelligence.html" style="text-decoration: none; color: white;">
                    <span class="material-symbols-outlined" >
                        inventory
                        </span><span class="etxt">Top Performers</span></a>
                        
                </li>
                <li class="sidebar-list-item">
                  <a href="http://localhost:5500/contractList.html" style="text-decoration: none; color: white;">
                    <span class="material-symbols-outlined">
                        poll
                        </span><span class="etxt">Top Losers</span>
                        </a>

                </li>
                <li class="sidebar-list-item">
                    <span class="material-symbols-outlined">
                        settings
                        </span><span class="etxt"> Settings</span>
                </li>
            </ul>
            </aside>
            <router-outlet></router-outlet>

     </div>

</div>

